.AnimationContainer {
  height: 400vh;
  width: 100%;
  background-color: black;

  &__stickyContainer {
    position: sticky;
    top: 0;
    width: 100%;
  }

  &__animation {
    margin: auto;
    max-width: 1069px;

    img {
      height: 100%;
      width: 100%;
      position: sticky;
    }
  }
}
