/**
 * Sass Importer
 *
 * Select the SASS partials to be compiled for this project. SASS files
 * are compiled and included in the order they are listed.
*/

// Import Global Partials
// @import url('./settings');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html,
body {
  margin: 0;
}

body {
  font: 20px 'Lato', sans-serif;
}

// Partial View SASS files
// @import url('./partials/topContainer');

// Colors
$black: #000000;
$grey-1: #424B4A;
$grey-2: #222222;
$white: #FFFFFF;
$blue: #2EC4B6;

// Breakpoints
$small: 375px;
$medium: 768px;
$large: 1440px;

.TopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1024px;
  background-color: $black;

  &__title {
    margin-top: 120px;
    font-size: 72px;
    color: white;
    font-weight: 700;
    text-align: center;

    @media only screen and (max-width: $medium) {
      font-size: 64px;
    }

    @media only screen and (max-width: $small) {
      font-size: 48px;
    }
  }

  &__buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 64px;
    cursor: pointer;

    > div {
      font-size: 24px;
      font-weight: 700;
    }

    &:hover {
      background-color: white;
      color: black;
    }
  }
  
  @media only screen and (max-width: $medium) {
    &__buttonContainer {
      height: 56px;
      width: 184px;
      > .button {
        font-size: 22px;
      }
    }
  }

  @media only screen and (max-width: $small) {
    &__buttonContainer {
      height: 48px;
      width: 161px;
      > .button {
        font-size: 18px;
      }
    }
  }

  &__animationContainer {
    margin-top: 60px;
    max-height: 601px;
    max-width: 1069px;
    
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.BottomContainer {
  min-height: 1024px;
  background-color: $grey-2;

  // Unicode star, couldn't find asset for original
  &__starContainer {
    display: flex;
    justify-content: center;
    padding: 120px 0;
    > span {
      font-size: 60px;
      color: white;
    }
  }

  &__box {
    color: white;
    background-color: $grey-1;
    padding: 36px;

    &:nth-child(1) {
      background-color: $blue; 
    }
  }

  @media only screen and (min-width: $medium) {
    &__grid {
      display: flex;
      justify-content: space-evenly;
    }

    &__box {
      min-height: 433px;
      max-width: 389px;
      > h1 {
        font-size: 36px;
        max-width: 279px;
      }
      > p {
        font-size: 20px;
        max-width: 316px;
      }
    }
  }

  @media only screen and (min-width: $small) and (max-width: $medium) {
    &__grid {
      margin: 0 40px;
      display: grid;
      max-width: 611px;
      justify-content: center;
      grid-template-areas:
        "box1 box1"
        "box2 box3";
        row-gap: 60px;
        column-gap: 60px;
    }

    &__box:nth-of-type(1){
      min-height: 278px;
      grid-area: box1;
      > h1, p {
        max-width: 551px;
      }
    }
    &__box:nth-of-type(2){
      grid-area: box2;
      max-width: 275px;
    }
    &__box:nth-of-type(3){
      grid-area: box3;
      max-width: 275px;
    }
  }

  @media only screen and (max-width: $small) {
    &__grid {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__box {
      max-width: 258px;
      min-height: 399px;
      margin: 40px 40px 0 40px;

      > h1 {
        font-size: 32px;
      }

      > p {
        font-size: 16px;
      }
    }
  }
}