@use 'sass:map';


/**
 * Sass Importer
 *
 * Select the SASS partials to be compiled for this project. SASS files
 * are compiled and included in the order they are listed.
*/

// Import Global Partials
// @import url('./settings');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html,
body {
  margin: 0;
}

body {
  font: 20px 'Lato', sans-serif;
}

// Partial View SASS files
// @import url('./partials/topContainer');

// Colors
$black: hsl(0, 0, 5%); // Easier on the eyes


// Breakpoints
$small: 375px;
$medium: 768px;
$large: 1440px;

.TopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: $black;

  &__title {
    margin-top: 120px;
    font-size: 72px;
    color: white;
    font-weight: 700;
    text-align: center;

    @media only screen and (max-width: $medium) {
      font-size: 64px;
    }

    @media only screen and (max-width: $small) {
      font-size: 48px;
    }
  }

  &__buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 64px;
    > .button {
      font-size: 24px;
      font-weight: 700;

      // @media only screen and (max-width: $medium) {
      //   height: 56px;
      //   width: 200px;
      //   font-size: 22px;
      // }

      // @media only screen and (max-width: $small) {
      //   height: 48px;
      //   width: 184px;
      //   font-size: 18px;
      // }
    }
  }
  
  @media only screen and (max-width: $medium) {
    &__buttonContainer {
      height: 56px;
      width: 200px;
      > .button {
        font-size: 22px;
      }
    }
  }

  @media only screen and (max-width: $small) {
    &__buttonContainer {
      height: 48px;
      width: 184px;
      > .button {
        font-size: 18px;
      }
    }
  }
}